# dependencies
node_modules
.pnp
.pnp.js
.yarn/

# testing
coverage
.nyc_output

# next.js
.next
out
dist
.output

# production
build
build/Release

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env files
.env
.env.*.local
!.env.example

# misc
.DS_Store
*.pem

# debug
pids
*.pid
*.seed
*.pid.lock

# cache
.cache
.parcel-cache
.eslintcache
.stylelintcache
.npm
.vite/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE / OS
.vscode-test