PORT=5000
MONGO_URI=mongodb://karannegiksn07_db_user:<db_password>@ac-tdho3bx-shard-00-00.jznowa1.mongodb.net:27017,ac-tdho3bx-shard-00-01.jznowa1.mongodb.net:27017,ac-tdho3bx-shard-00-02.jznowa1.mongodb.net:27017/?ssl=true&replicaSet=atlas-122j3s-shard-0&authSource=admin&appName=Cluster0